In [54]:
import pandas as pd
df = pd.read_csv('2000_telugu_words.csv')
df_new = df.copy()
df_new['file_path'] = ""
df_new['saved'] = False  # You can set the default value to False if needed
df_new.to_csv('csv_files/track_word.csv')
print(len(df))
df.head()

72211

                          word
0                            అ
1  అ.సం.రా. చిన్న దూరపు దీవులు
2                       అం టగు
3                          అంక
4                     అంక కాదు

In [29]:
q = df.iloc[4]
print(q)
len(q), type(q)

word    అంక కాదు
Name: 4, dtype: object

(1, pandas.core.series.Series)

In [47]:
filtered_df = df[df['word'].str.len() == 1]

# Print the filtered DataFrame
print(len(df), len(filtered_df))
filtered_df.head(10)

72211 29

      word
0        అ
10761    ఈ
29550    ఝ
29827    ఠ
30213    ణ
50254    మ
55720    య
56302    ర
58050    ఱ
58150    ల

In [32]:
f = df.copy()
f['len'] = f['word'].str.len()

# Print the DataFrame with the new 'len' column
print(f.head())

                          word  len
0                            అ    1
1  అ.సం.రా. చిన్న దూరపు దీవులు   27
2                       అం టగు    6
3                          అంక    3
4                     అంక కాదు    8

In [33]:
print(f['len'].value_counts(dropna=False))

len
8     10317
7      9646
6      9151
9      9002
10     7225
      ...
69        1
56        1
78        1
80        1
59        1
Name: count, Length: 81, dtype: int64

In [38]:
f.iloc[27992]

word    చొ
len      2
Name: 27992, dtype: object

In [41]:
len(f[f.len > 16])
q = f[f.len > 16]
print(q.head(10))

                            word  len
1    అ.సం.రా. చిన్న దూరపు దీవులు   27
137   అంకెవేసికొను, అంకెవైచికొను   26
143            అంగ ప్రాయశ్చిత్తం   17
146       అంగ వర్తులత్వ సౌష్ఠవము   22
166          అంగట్ల అమ్ముకచ్చుడు   19
203          అంగన్యాస కరన్యాసాలు   19
290          అంగారకచతుర్ధీవ్రతము   19
306    అంగారి, అంగారిక, అంగారిణి   25
313           అంగి రైకె పెట్టుడు   18
333           అంగుట్లో నాలికలేదు   18

In [42]:
f.iloc[333]

word    అంగుట్లో నాలికలేదు
len                     18
Name: 333, dtype: object

In [43]:
filtered_df = f[f['word'].str.contains(' ')]

# Print the filtered DataFrame
print(len(filtered_df), len(f))

4047 72211

In [46]:
# non_filtered_df = f[~f['word'].str.contains(' ')]

filtered_df = df[df['word'].str.contains(r':|,|\(|\d', regex=True)]
# Save the filtered DataFrame to a CSV file
filtered_df.to_csv('special_words.csv', index=False)

# Save the non-filtered DataFrame to a CSV file
# non_filtered_df.to_csv('words_with_space.csv', index=False)

In [53]:
# Filter to keep rows that don't meet the criteria
filtered_df = df[
    ~(df['word'].str.len() == 1) &
    ~(df['word'].str.len() > 35) &
    ~df['word'].str.contains(r'[{},.\-:\'"/\(\[]')
]

# Calculate the number of rows to be removed
num_rows_kept = len(df) - len(filtered_df)

# Print the number of rows to be kept
print("Number of rows that will be removed :", num_rows_kept)

# Print the filtered DataFrame
print("Filtered DataFrame:")
print(filtered_df)

Number of rows that will be removed : 1077
Filtered DataFrame:
             word
2          అం టగు
3             అంక
4        అంక కాదు
5      అంక తంత్రం
6        అంక తలము
...           ...
72193       ౙవ్వు
72194      ౙీకాద్
72195  ౙీన్‌సవారి
72199         ౧౦౦
72208  ‍‍జ్ఞాపకము

[71134 rows x 1 columns]

In [52]:
print(len(df), len(filtered_df))

72211 71134

In [ ]:
filtered_df.to_csv()